name: test
on: [push]
jobs:
    unit-test:
      runs-on: ubuntu-latest

      steps:
      - uses: actions/checkout@v2 # Checking out the repo

      - name: Install Python 3.8
          uses: actions/setup-python@v2
          with:
            python-version: 3.8

      - name: Install dependecies
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: install -d # Install all dependencies, including development ones

      - name: mypy
        uses: VaultVulp/action-pipenv@v2.0.1
        with:
          command: run test # Run custom `test` command defined in the `[scripts]` block of Pipfile
